.link-button {
  font-family: $roboto, "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: $basic-white;
  text-decoration: none;
  border: 0.5px solid $basic-beige;
  padding: 15px 18px;
  @media (min-width: $tablet-width){
    padding: 18px 35px;
  }
  &:hover {
    background-color: rgba(160, 123, 80, 0.8);
    color: rgba(255,255,255,0.6);
  }
  &:active {
    background-color: $basic-beige;
    color: $basic-white;
  }
}

.cats-button {
  font-family: $roboto, "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  border: none;
  background-color: $dark-brown;
  color: rgba(255,255,255,0.2);
  cursor: pointer;
  &:hover {
    color: rgba(255,255,255,0.6);
  }
  &:active {
    color: $basic-white;
  }
}

.button-arrow {
  border: none;
  background: $dark-brown;
  width: 0;
  height: 0;
  font-size: 0;
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 14px;
    height: 14px;
    font-size: 0;
    border: solid $basic-beige;
    border-width: 0 0 2px 2px;
    cursor: pointer;
  }
}

.button-arrow:hover {
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 14px;
    height: 14px;
    font-size: 0;
    border: solid rgba(160, 123, 80, 0.7);
    border-width: 0 0 2px 2px;
    cursor: pointer;
  }
}

.button-arrow:active {
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 14px;
    height: 14px;
    font-size: 0;
    border: solid rgba(160, 123, 80, 0.4);
    border-width: 0 0 2px 2px;
    cursor: pointer;
  }
}

.button-arrow_white {
  border: none;
  background: $dark-brown;
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    border: solid $basic-white;
    border-width: 0 0 2px 2px;
    cursor: pointer;
  }
}

.button-arrow_white:hover {
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    border: solid rgba(255,255,255,0.7);
    border-width: 0 0 2px 2px;
    cursor: pointer;
  }
}

.button-arrow_white:active {
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    border: solid rgba(255,255,255,0.4);
    border-width: 0 0 2px 2px;
    cursor: pointer;
  }
}

.button-arrow_left {
  transform: rotate(45deg);
}

.button-arrow_right {
  transform: rotate(225deg);
}
