.gallery__link-button {
  display: inline-block;
  margin: 0;
  margin-top: 45px;
}

.gallery__button_left {
  position: absolute;
  top: 120px;
  left: 15px;
  @media (min-width: $tablet-width) {
    left: 30px;
  }
}

.gallery__button_right {
  position: absolute;
  top: 150px;
  right: 15px;
  @media (min-width: $tablet-width) {
    right: 30px;
  }
}
