.gallery__cats {
  position: relative;
}

.gallery__link-button {
  display: inline-block;
  margin: 0;
  margin-top: 45px;
  @media (min-width: $tablet-width){
    margin-top: 55px;
  }
}

.gallery__button_left {
  position: absolute;
  top: 110px;
  left: 15px;
  @media (min-width: $tablet-width) {
    left: 30px;
    top: 250px;
  }
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.gallery__button_right {
  position: absolute;
  top: 135px;
  right: 15px;
  @media (min-width: $tablet-width) {
    right: 30px;
    top: 270px;
  }
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.gallery__container {
  width: 234px;
  overflow: hidden;
  margin: 0 auto;
  bottom: 0;
  @media (min-width: $tablet-width) {
    width: 600px;
    height: 530px;
  }
  @media (min-width: $desktop-width) {
    width: inherit;
  }
}

.gallery__list {
  position: relative;
  width: 9999px;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0px;
  @media (min-width: $desktop-width) {
    width: inherit;
    margin: 0 auto;
    max-height: 485px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: none;
  }
}

.gallery__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 234px;
  height: 248px;
  @media(min-width: $tablet-width) {
    width: 560px;
    height: 540px;
  }
  @media (min-width: $desktop-width) {
    width: inherit;
    height: inherit;
  }
}

.gallery__item:first-child {
  @media(min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.gallery__img {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: auto;
  height: auto;
  margin: 0 10px;
  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.img-white-cat,
.img-colorful-cat {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
  }
}

.img-gray-cat {
  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    margin-left: 15px;
  }
}

.gallery__img-cat {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  @media(min-width: $tablet-width) {
    width: auto;
  }
  @media(min-width: $desktop-width) {
    width: auto;
    max-height: 485px;
  }
}

.gallery-transform-animation {
  transition: .4s all ease-in-out;
}
