.gallery__cats {
  position: relative;
}

.gallery__link-button {
  display: inline-block;
  margin: 0;
  margin-top: 45px;
  @media (min-width: $tablet-width){
    margin-top: 55px;
  }
}

.gallery__button_left {
  position: absolute;
  top: 120px;
  left: 15px;
  @media (min-width: $tablet-width) {
    left: 30px;
    top: 240px;
  }
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.gallery__button_right {
  position: absolute;
  top: 150px;
  right: 15px;
  @media (min-width: $tablet-width) {
    right: 30px;
    top: 270px;
  }
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.gallery__container {
  width: 234px;
  overflow: hidden;
  margin: 0 auto;
  bottom: 0;
  @media (min-width: $tablet-width) {
    width: 530px;
  }
  @media (min-width: $desktop-width) {
    width: inherit;
    overflow: auto;
  }
}

.gallery__list {
  display: flex;
  flex-direction: row;
  width: 630px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  @media (min-width: $desktop-width) {
    width: inherit;
    max-height: 530px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.gallery__item {
  display: flex;
  @media (min-width: $desktop-width) {
    display: flex;
    margin-bottom: 30px;
  }
}

.gallery__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  margin: 0 auto;
  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.img-white-cat,
.img-colorful-cat {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
  }
}

.img-gray-cat {
  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    margin-left: 15px;
  }
}

.gallery__img-cat {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
}
