.header {
  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 276px;
  text-align: center;
  background-image: url(../img/png/background_header_mobile.png);
  background-color: $dark-gray;
  background-repeat: no-repeat;
  background-position: right bottom;
  @media (min-width: $tablet-width){
    text-align: left;
    padding-bottom: 46px;
    background-image: url(../img/png/background_header_tablet.png);
  }
  @media (min-width: $desktop-width){
    padding-top: 46px;
    padding-bottom: 65px;
    background-image: url(../img/png/background_header_desktop.png);
  }
}

.header__logo {
  margin: 0;
  padding: 0;
  @media (min-width: $tablet-width){
    text-align: center;
  }
}

.header__logo-img path {
  &:hover {
    fill: rgba(160, 123, 80, 0.7);
    }
  &:active {
    fill: rgba(160, 123, 80, 0.4);
  }
}

.header__info {
  margin: 0;
  margin-top: 57px;
  padding: 0;
  @media (min-width: $tablet-width){
    margin-top: 95px;
    margin-left: 43px;
  }
  @media (min-width: $desktop-width){
    margin-top: 95px;
    margin-left: 202px;
  }
}

.header__social {
  display: none;
  margin: 0;
  padding: 0;
  @media (min-width: $tablet-width){
    display: block;
    margin-top: 60px;
    margin-left: 43px;
  }
  @media (min-width: $desktop-width){
    margin-left: 78px;
  }
}
