.header-social__list {
  width: 16px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  @media (min-width: $desktop-width){
    flex-direction: column;
    align-items: flex-start;
  }
}

.header-social__item {
  display: flex;
  align-self: center;
}

.header-social__link {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  @media (min-width: $tablet-width){
    margin-right: 11px;
    vertical-align: middle;
    text-align: center;
  }
  @media (min-width: $desktop-width){
    margin-right: 0;
  }
}

.header-social__item:not(:last-child) {
  @media (min-width: $desktop-width){
    margin-bottom: 12px;
  }
}
