.link-button {
  font-family: $roboto, "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: $basic-white;
  text-decoration: none;
  border: 0.5px solid $basic-beige;
  padding: 15px 18px;
  @media (min-width: $tablet-width){
    padding: 18px 35px;
  }
}
