@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto/robotoregular.woff2") format("woff2"), url("../fonts/roboto/robotoregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "yeseva-one";
  src: url("../fonts/yeseva-one/yesevaone-regular.woff2") format("woff2"), url("../fonts/yeseva-one/yesevaone-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
