//Fonts
$oswald: "roboto", "Open Sans", sans-serif;
$arial: "yeseva-one", "Times New Roman", serif;

//Colors
$background-header: #181617;
$dark-brown: #1F1C1D;
$black-gray: #151313;
$basic-beige: #A07B50;
$basic-white: #ffffff;

//Viewports
$tablet-width: 768px;
$desktop-width: 1366px;
$mobile-width-only: 767px;
