//Fonts
$roboto: "roboto", "Open Sans", sans-serif;
$yeseva-one: "yeseva-one", "Times New Roman", serif;

//Colors
$dark-gray: #181617;
$dark-brown: #1F1C1D;
$black-gray: #151313;
$basic-beige: #A07B50;
$basic-white: #ffffff;
$beige-text: #DDD0C3;
$brown: #544332;

//Viewports
$tablet-width: 768px;
$desktop-width: 1366px;
$mobile-width-only: 767px;
